@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile device menu animation */
@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 300ms forwards;
}

.slide-out {
  animation: slideOut 300ms forwards;
}

/* Suggested Card animation  */
@keyframes SuggestedslideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes SuggestedslideOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.suggestedSlide-in {
  animation: SuggestedslideIn 400ms forwards;
}

.suggestedSlide-out {
  animation: SuggestedslideOut 400ms forwards;
}

@media (max-width: 640px) {
  .suggestedSlide-in {
    animation: none;
  }

  .suggestedSlide-out {
    animation: none;
  }
}

.sidebar-image {
  filter: invert(50%);
  /* background-color: #ab80ad; */
}
